 *{
    font-size: 20pt;
    text-align: justify;
}
body{
    background-color: rgb(255,200,200);
}

p{
    color: rgb(0,0,0);
    text-align: justify;
}

p#Rodapé{
    color: rgb(200,0,0);
    text-align: justify;
    font-size: 10pt;
    font-weight: 300;
}

code{
    color: rgb(150,0,0);
}

h1, p#Rodapé{
    text-align: center;
}

h1{
    font-size: 45pt;
}

hr{
    border-color: rgb(200,0,0);
}

.Título{
    background-color: rgb(100,0,0);
    color: rgba(255,200,200);
}